h1 {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 30px;
    margin-top: 15px;
}

table {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-collapse: collapse;
    td {
        padding-right: 15px;
        padding-bottom: 15px;
    }
}

.value {
    color: blue; 
    padding-right: 25px;
 }